@charset "utf-8";

html,body {
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 100px 25px;
}

/* 뒤로가기 */
header a {
    position: absolute;
    top: 20px;
    left: 25px;
    font-size: 22px;
    color: var(--black);
}

form {
    width: 100%;
    margin-bottom: 100px;
}

form div {
    position: relative;
}

input{
    margin: 15px 0 20px;
    width: 100%;
    padding: 0 15px;
    height: 70px;
    border-radius: 10px;
    border: 1px solid var(--text-grey);
}

div input {
    height: 50px;
}

input:focus {
    outline: none;
    border: 2px solid var(--primary);
}
.next {
    position: fixed;
    bottom: 20px;
    left: 25px;
    right: 25px;
    height: 70px;
    background-color: var(--primary);
    color: var(--white);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
