@charset "utf-8";

:root {
  --gap-size: 10px;
  --padding-default: 25px;
}

body {
  padding-bottom: 150px;
  overflow-x: hidden;
  max-width: 440px;
}

section {
  padding-bottom: 28px;
}

header ul {
  display: flex;
  justify-content: space-between;
  padding: 30px 25px 0;
  align-items: center;
}

header ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

header ul li span:nth-child(2) {
  font-size: 20px;
  margin-top: -10px;
}

header ul li .gps,
header ul li .notice {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: cover;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin-top: -10px;
}

header ul li .gps {
  background: url(../../icon/gps.png) no-repeat center / cover;
}

header ul li .notice {
  width: 26px;
  height: 26px;
  background: url(../../icon/notice.png) no-repeat center / cover;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* 메인 슬라이더 */
.main-slider-section,
.-slider-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--padding-default);
}

.main-slider-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 25px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 음식 카테고리 */
.category-container ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap-size);
  list-style: none;
  padding: 20px;
}

.category-container li {
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
}

.category-container p {
  margin-top: 0.5em;
  text-decoration: none;

  display: block;
  font-size: var(--body1-font-size);
  white-space: nowrap;
}

/* 손님이 좋아할 만한 집 */
.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-default) 0 15px var(--padding-default);
}

.all-arr {
  display: inline-block;
  cursor: pointer;
  background: url(../../icon/arrow.png) no-repeat center / contain;
  width: 12px;
  height: 12px;
  padding-right: 40px;

}

.store-container ul {
  display: flex;
  align-items: center;
  gap: var(--gap-size);
  padding: var(--padding-default);
  overflow: scroll;
}

.store-container li a dl {
  width: 250px;
  height: 180px;
  background-color: var(--primary-dark);
  padding: 120px 0 0 20px;
  color: white;
  border-radius: 10px;
  position: relative;
  background: url("../../images/pexels-othmane-ettalbi-2148497459-30374243.jpg")
    no-repeat center / cover;
}

dd {
  display: inline-block;
  padding-right: 10px;
}

dd:nth-of-type(3) {
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: 51px;
  height: 51px;
  background-color: #fff;
  border-radius: 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

dd:nth-of-type(3) img {
  width: 30px;
  z-index: 900;
}

dd:nth-of-type(3)::after,
dd:nth-of-type(3)::before {
  position: absolute;
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-size: cover;
}

dd:nth-of-type(3)::after {
  background: url(../../icon/round.png) no-repeat left bottom / cover;
  bottom: 0;
  right: 50px;
}

dd:nth-of-type(3)::before {
  background: url(../../icon/round.png) no-repeat right top / cover;
  bottom: 50px;
  right: 0px;
}

/* 좋아요 아이콘 */
.like-icon1,.like-icon2 {
  display: none;
  margin-left: 10px;
  margin-top: 5px;
}

.active {
  display: block;
}

/* 거리 선택 */
.distance-section ul {
  padding: 0 var(--padding-default);
  display: flex;
  gap: 10px;
  overflow: scroll;
}

.distance-section ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-light);
  border-radius: 20px;
  width: 100px;
}

.distance-section ul li a {
  padding: 10px 20px;
  display: inline-flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: var(--primary-dark);
}

/* 광고 */
.magazine-slider-container {
  overflow: hidden;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
}

.magazine-slider-container img {
  border-radius: 10px;
}