@charset "utf-8";

html, body {
    height: 100%;
    margin: 0 auto;

}

body {
    width: 100vw;
    position: relative;
}

#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    position: absolute;
    z-index: 999;
    background: var(--white);
    gap: 20px;
}

#intro h1 {
    color: var(--primary);
    font-family: 'DelmonDelicate';
    font-size: 60px;
    letter-spacing: -0.2rem;
    order: 1;
}

#intro p {
    font-family: 'Chosunilbo_myungjo';
    color: rgb(90, 0, 179);
}

.skip {
    position: absolute;
    bottom: 5%;
    left: 50%;
    text-align: end;
    padding: 25px;
    z-index: 998;
    transform: translateX(-50%) translateY(-5%);
}

a {
    color: var(--text-grey);
}

.right {
    color: var(--text-grey);
    margin-left: 5px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
}
